*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-3d464d: #ed464d;
  --color-c3d4da: #ced4da;
}

.green {
  color: var(--color-47ad24);
  font-size: 40px;
  font-family: Roboto !important;
}
.red {
  color: var(--color-e52e2e);
  font-size: 40px;
  font-family: Roboto !important;
}

.shadow-main{
  box-shadow: 0 0 10px #0000001a;
}

.ant-layout{
  min-height: 100vh;
}
.sm-logo{
  cursor: default;
}
.lg-logo{
  cursor: default;
}
.ant-layout-sider-collapsed .sm-logo {
  display: none;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.quill{
  background-color: white;
}
.error{
  color: #e52e2e;
  padding-left: 5px;
  font-style: italic;
  padding-top: 8px;
  font-size: 14px;
}
thead .ant-table-cell{
  font-size: 18px;
}
.ant-table-thead .ant-table-cell{
  background-color: #d2e3fc !important;

}
tbody .ant-table-cell{
  font-size: 16px;
}
.ant-table-content table{
  text-align: center;
}
.ant-table-content .ant-table-thead .ant-table-cell{
  text-align: center;
}
.pointer{
  cursor: pointer;
}
.enquiry-content{
  width: 600px ;
  overflow: auto;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.order-product{
  border-bottom: 1px solid #ccc;
}
.order-product:last-child{
  border-bottom: none;
}
.rw-widget-input {
  padding: 10px 0;
}
.rw-widget-input input{
  font-size: 16px;
}
.preview-images{
  width: 250px;
  height: 200px;
  object-fit: cover;
}
.preview-images span{
  top: 4px;
  right: 4px;
  background-color: white;
}
.ant-select-selector{
  padding: 15px 0 !important;
}
.ant-select-selector span{
  color: var(--color-212529) !important;
  font-size: 16px;
}
.ant-select-selection-overflow{
  padding: 0 10px;
}